<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>
              Description
            </th>
            <th>
              Url
            </th>
          </tr>
        </thead>

        <tbody ng-repeat="link in $ctrl.links">
          <tr>
            <td>
              {{link.description}}
            </td>
            <td>
              {{link.url}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <link-form />
    </div>
  </div>
</div>