<form role="form">
  <div class="form-group">

    <label for="link-description">
      Description
    </label>
    <input ng-model="description"type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">
      Url
    </label>
    <input ng-model="url" type="text" class="form-control" />
  </div>

  <div class="form-group">
  

  <button type="submit" class="btn btn-primary" ng-click="$ctrl.click(url, description)">
    Submit
  </button>
</form>
